.tool-settings {
    border-bottom: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tool {
    display: flex;
    gap: 6px;
    align-items: center;
}

